CharacterStructure/DOD.XML

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<Character>
    <Background>
        <Name></Name>
        <Race>
            <Human/>
            <Elf>
                <Subrace>High Elf</Subrace>
                <Subrace>Wood Elf</Subrace>
                <Subrace>Dark Elf</Subrace>
            </Elf>
            <Dwarf>
                <Subrace>Hill Dwarf</Subrace>
                <Subrace>Mountain Dwarf</Subrace>
            </Dwarf>
            <Halfling>
                <Subrace>Lightfoot Halfling</Subrace>
                <Subrace>Stout Halfling</Subrace>
            </Halfling>
            <Gnome>
                <Subrace>Forest Gnome</Subrace>
                <Subrace>Rock Gnome</Subrace>
            </Gnome>
            <Orc/>
            <HalfOrc/>
            <HalfElf/>
            <Tiefling/>
            <Dragonborn/>
            <Aasimar/>
            <Tabaxi/>
            <Triton/>
            <Lizardfolk/>
            <Goblin/>
            <Kobold/>
            <Firbolg/>
            <Genasi/>
            <Kenku/>
            <YuanTiPureblood/>
            <Aarakocra/>
            <Warforged/>
            <Gith>
                <Subrace>Githyanki</Subrace>
                <Subrace>Githzerai</Subrace>
            </Gith>
            <Shifter/>
            <Changeling/>
            <Minotaur/>
            <Satyr/>
            <Centaur/>
            <Goliath/>
            <Hobgoblin/>
            <Bugbear/>
            <Kalashtar/>
        </Race>
        <Class></Class>
        <History></History>
        <Alignment></Alignment>
        <Equipment></Equipment>
    </Background>

    <BasicStats>
        <Strength>
            <xs:element name="age">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </Strength>
        <Agility>
            <xs:element name="Agility">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element></Agility>
        <Stamina><xs:element name="Stamina">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </Stamina>
        <Intelligence>
            <xs:element name="Intelligence">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </Intelligence>
        <Psyche>
        <xs:element name="Psyche">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </Psyche>
        <Willpower><xs:element name="Willpower">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </Willpower>
        <Charisma>
        <xs:element name="Charisma">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </Charisma>
    </BasicStats>

    <SecondaryStats>
        <HealthPoints>0</HealthPoints>
        <ManaPoints>0</ManaPoints>
        <ExperiencePoints>0</ExperiencePoints>
    </SecondaryStats>
    
    <Skills>
        <CombatSkills>0</CombatSkills>
        <Sneak>0</Sneak>
        <Lockpicking>0</Lockpicking>
        <Thievery>0</Thievery>
        <Survival>0</Survival>
        <DressingSkill>0</DressingSkill>
        <Haggling>0</Haggling>
        <Seamanship>0</Seamanship>
        <Riding>0</Riding>
        <Orientation>0</Orientation>
        <MilitaryStrategy>0</MilitaryStrategy>
        <MagicalAbility>0</MagicalAbility>
        <Knowledge>0</Knowledge>
        <FirstAid>0</FirstAid>
        <UnderwaterSwimming>0</UnderwaterSwimming>
    </Skills>
</Character>
